<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<!--Leaflet-->
		<link rel="stylesheet" type="text/css" href="stylesheets/leafletAPI.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/leaflet.css"/>
		<script type="text/javascript" src="javascripts/leaflet.js"></script>
		<script type="text/javascript" src="javascripts/leaflet.ChineseTmsProviders.js"></script>
		<script type="text/javascript" src="javascripts/leaflet-side-by-side.js"></script>
		<!--jQuery-->
		<script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
		<!--自己写的js和css-->
		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
		<!-- 打印控件 -->
		<script type="text/javascript" src="javascripts/leaflet.easyprint.js"></script>
		<title>斧头湖24米等高线</title>
	</head>
	<body id = "map"style = "position: absolute;margin-top: 70px;"  >
		<div id="Mymap" style="	position: absolute;top: 0px;bottom: 0;right: 0;left: 0;"></div>
		<script type="text/javascript" src="javascripts/contourline24.js" ></script>
		<script>
			var printer = L.easyPrint({
				title:'打印地图',
				sizeModes: ['A4Landscape', 'A4Portrait'],
				filename: 'myMap',
				exportOnly: true,
				hideControlContainer: true,
				tileWait:100,
				defaultSizeTitles:{A4Landscape: 'A4横版', A4Portrait: 'A4 竖版'}
			}).addTo(map);
		</script>
	</body>
</html>