<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>紧急应对措施</title>
	</head>
	
	<body>


<!--*****************************************************紧急应对措施************************************************************************-->

	<div style="  font-size: 30px; font-family: 'LiSu'; text-align: center; margin: 20px;margin-left:0px;float: center;">紧急应对措施</div>
	<div id="menu" style="height:400px;width:1000px;float:right;margin-left: 0px;font-size: 16px;overflow: auto;" class="content content_scroll">
		<h1>一、基本原则</h1>
		<br>1、以人为本，救援第一。在处理旅游突发公共事件中以保障旅游者生命安全为根本目的，尽一切可能为旅游者提供救援、救助。
		<br>2、属地救护，就近处置。在安全事故发生后，要及时向管理区旅游安全应急救援领导小组报告，寻求政府援救与帮助。力争在最短时间内将危害和损失降到最低程度。
		<br>3、依序替补。领导小组及办公室、各小组负责人因故缺位时，总指挥韩蓉尽快安排替补人员到位，防止出现指挥中断、秩序混乱现象。
		<h1>二、救援程序</h1>
		<br>1、当发生事故隐患和不安全因素时，现场人员应立即采取有效措施，按操作规程，及时处理，同时要报告旅游安全应急救援领导小组。
		<br>2、领导小组接到报告后立即进入应急处理工作状态，以最快捷的时间赶赴事故现场，展开抢险救援行动，防止事故扩大，减少人员伤亡和经济损失，并书面将事故发生及救援情况报管理区应急救援领导小组办公室。
		<br>3、事故处理结束后，按照“以人为本，事实求是，尊重科学”的原则，领导小组会同有关部门开展事故调查工作，查明人员伤亡和财产损失情况，分析事故原因，查明事故性质和相关人员的责任，提出对有关责任人的处理建议和防止类似事故发生的整改措施，写出事故报告，事故报告内容包括事故发生原因、事故经过处理、事故责任、事故教训、今后防范措施。
		<br>对不执行上述制度，影响救援工作的部门和个人，将严肃追究责任。

	</div>

	</body>

</html>