<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Bootstrap-->
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"/>
		<!-- 数据管理中的bootstrap -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>   
		<script type="text/javascript" src="../javascripts/bootstrap-table-export.js" ></script>
	    <!-- Latest bootstrap compiled and minified CSS -->
		<!-- <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" /> -->
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
		<!-- Latest bootstrap compiled and minified JavaScript -->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!--		<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
-->		
		<!-- <script type="text/javascript" src="../javascripts/bootstrap.min.js" ></script> -->
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	   	
		<!-- Latest compiled and minified JavaScript -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
		<!-- Load Leaflet -->
		<link rel="stylesheet" type="text/css" href="stylesheets/leafletAPI.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/leaflet.css"/>
		<script type="text/javascript" src="javascripts/leaflet.js"></script>
		<script type="text/javascript" src="javascripts/leaflet.ChineseTmsProviders.js"></script>
		
		<!--Echarts -->
		<script type="text/javascript" src="javascripts/echarts.min.js"></script>
		
		<!--jQuery  样式-->
		<script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
		
		<!--saidbar_menu-->
		<link rel="stylesheet" type="text/css" href="stylesheets/sidebar-menu.css"/>
		<script type="text/javascript" src="javascripts/sidebar-menu.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		

		
		<!--Link StyleSheet(hand setting)-->
		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
		<script type="text/javascript" src="/javascripts/leaflet-side-by-side.js"></script>
		<!-- 打印控件 -->
		<script type="text/javascript" src="javascripts/leaflet.easyprint.js"></script>

		<script type="text/javascript" src="javascripts/leaflet.marker.highlight.js" ></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/leaflet.marker.highlight.css">
		<title>
			神农架大熊猫栖息地管理系统
		</title>
		
		
	</head>
	<body>

