<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>神农架简介</title>


	</head>
	
	<body >

<div style="background-color: #FFFFFF;top: 20px; height: 500px;">
 <div style="font-size: 30px; font-family: 'LiSu'; text-align: center; margin: 20px;">神农架简介</div>
 <div id="menu" style="height:auto;width:550px;float:right;margin: 0px 50px;font-size: 16px;">
 
 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 神农架林区，简称 神农架，1970年经国务院批准建制，直属 湖北省管辖，是中国唯一以“ 林区”命名的 行政区划。 2017年，全区完成生产总值255108万元，同比增长7.0 %。神农架是中国首个获得联合国教科文组织 人与生物圈自然保护区、 世界地质公园、 世界遗产三大保护制度共同录入的“三冠王”名录遗产地。 2016年7月17日，正在土耳其伊斯坦布尔举行的 第40届世界遗产大会上，中国湖北神农架被列入 世界遗产名录，成为湖北省第1处、中国第11处 世界自然遗产。 2018年10月，神农架林区荣获“中国天然氧吧”创建地区称号。
 		<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 按照中国动物地理区划，神农架属东洋界、华中区、西部山地高原亚区。通过对75种兽类、236种鸟类和63种两栖爬行类的成份分析，东洋种占优势，占总种数的64.97%。广布种其次，占总种数的17.65%。古北界种占总种数的17.38%。可发现南方和北方物种混杂现象，表现出过渡性特征。神农架是金丝猴主要分区。金丝猴是中国特有的珍稀动物，分布于四川、陕西、甘肃的部分地区和湖北省的神农架。20世纪60年代前，神农架基本处于封闭状态，为人迹罕至的原始森林。1980年才有神农架存在金丝猴的报道。主要栖息在海拔1700—3100 米之间的针叶林和针阔叶混交林中，集中分布在保护区西片的东部区域，现有金丝猴种群1200余只。
 
 </div>
 
 <div id="content" style="height:200px;width:200px;float:left;margin-left:20px">
 	<img src="images/SNJ.jpg" />
 </div>
 
 </div>
	</body>

</html>