<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>大熊猫管理手册</title>
	</head>
	<body >
 	<div style=" font-size: 30px; font-family: 'LiSu'; text-align: center; margin: 20px;margin-left:0px;float: center;">大熊猫管理手册</div>
 	<div id="menu" style="height:400px;width:1000px;float:right;font-size: 16px;overflow: auto;" class="content content_scroll">
 		<h1>一、疾病与防治</h1>
 		<h2>1、胃肠炎：</h2> 胃肠炎是大熊猫最常见的一种疾病。发病原因很多，例如饲料不清洁，被某些致病菌所污染，或腐败变质，有时因饲料突然改变，气温骤变，饲料配合比例不当(青粗饲料过少)，蛔虫寄生过多等等，都可引起胃肠炎的发生。特别是成长中的幼年大熊猫，在饲料配合比例不当时，更易发生胃肠炎。 症状：患轻度胃肠炎时，仅排稀便，其它无异常。重症时，精神不振，常将身体卷缩成一团球睡觉或静卧，有时将头放在腹部，两前爪抱着吻端半依靠坐着，或四肢叉开趴在地上不动。叫它或敲击栏杆和食盆它都不理，用竹杆轩轻打它，强迫它起来也只是走几步又卧下。有时随呼气发出“哼”、“哼”的有节奏的声音。这些都表示腹部不舒服的现象。食欲减少或废绝，有时偏食一点牛奶和米粥。粪便是稀的，水分多但不与粪便混合，或粪便中混有黄白色粘液及粉红色粘液。有时稀便中带有气泡及不消化食物，气味恶臭。再严重时，粪便中有似脱落的粘膜样带血物质，味腥臭或腐败臭，镜检白细胞、红细胞、脓球等均为阳性。在伴有胃炎时，有呕吐表现，单纯性胃炎，仅是呕吐，例如一只雄性大熊猫，在喂食后两小时，突然呕吐，历时3。分钟之久，呕吐物均为刚刚吃下的食物，气味极酸臭。如急性胃肠炎未得到彻底治愈，或青粗饲料与精料比例长期不当，可形成慢性胃肠炎，这时腹泻、呕吐现象反复出现，且经常伴有肚胀、大便稀、有气泡并杂有不消化食物，呈现慢性消化不良症状。活动量逐渐减少，常常卷缩成团伏睡觉或静卧，食欲不稳定，吃东西特别挑剔，但总的趋势是食量逐渐减少，动物逐渐消瘦，体质下降，如果是幼年大熊猫，则发育迟缓。 防治：主要根除致病原因，加强饲养管理，药物治疗以杀菌消炎，收敛止泻，健胃及补充维生素为原则。例如一只雄性成年大熊猫，稀便中带有多量粘液及肉眼可见的血液，我们曾用氯霉素、仙鹤草素及酵母治疗，五天即愈。另有一只幼年大熊猫，稀便中有许多气泡，并有不消化食物，少量粘液，我们投以乳酶生及复合维生素B，连服四日即痊愈。此外，其它杀菌药如强力霉素、磺胺肌、咬喃哇酮及一些中草药提炼成的片剂也常常应用。用这些药时，最好首先在治疗初期内用大剂量起抑制作用，同时加健胃剂。 预后：胃肠炎的治疗不困难，疗效理想。如转为慢性胃肠炎，成年大熊猫治疗上困难些，常常反复腹泻，但没有生命危险。但幼年大熊猫，特别是在它以乳汁为主转变为以青粗饲料为主时，在青粗饲料与精料长期比例不当时，会有严重的慢性消化机能紊乱现象，最后由于营养缺乏，体质下降，并发其他疾病而夭折。 剖检：主要是营养劣，全身脂肪胶样浸润、贫血、脾萎缩、心囊与腹腔内有大量积液。肝实质变硬并有肝细胞脂肪浸润，有时肝脏有多量含铁血红色沉着。尚有临终性急性出血性肠炎。
 		<h2>2、蛔虫症</h2> 蛔虫症是大熊猫最常见的一种内寄生虫病。从野外新捕捉的大熊猫，除去哺乳期幼小的大熊猫以外，粪便检查，大多数都有蛔虫卵，只是感染程度不同。在自然界所感染的蛔虫为熊猫蛔虫，寄生于小肠、胃，分布于我国四川省。 症状：大熊猫感染蛔虫后，轻者一般无明显临床表现，只是镜检粪便时发现蛔虫卵，或偶然随粪便排出少许蛔虫体。严重感染时，动物消瘦，被毛缺乏光泽，精神萎靡不振，食欲不稳定，经常腹泻，有不同程度的腹部不舒服表现。随粪便常常排出几条、几十条，甚至成百条虫体。 治疗：我们目前所用的驱虫药，主要是山道年酚酞或山道年甘汞。其次是拘檬酸呱嗓。 预防：为了根涂寄生虫病，使动物健康的成长，除要定期驱虫外，每天要清扫兽舍，定期消毒。特别在驱虫时，更要配合严密的消毒工作。病兽粪便不得乱放，清扫用具要经过热处理后方可使用。
 		<h2>3、呼吸道感染</h2> 症状：大熊猫患呼吸道疾病时，其症状与其它动物表现的定状相同。 治疗：主要是抗菌素治疗。我们主要用的是青霉素和链霉素肌肉注射，另加辅助药品，如各种维生素、助消化及健胃药等。
 		<h2>4、睑缘炎</h2> 此病为睑缘边缘的慢性炎症。患兽:雌性，成年。 症状：初期症状，往往被人忽略，因为动物眼睑长有许多黑毛，皮肤色素亦为黑色，早期不易发现。当发现时，该兽的两眼上下眼睑已肿胀。并有多量脓性分泌物附着。巩膜血管充血，羞明，流泪。以后硷缘皮肤溃疡并结痴，毛脱落，眼睑缘增厚。lR[睁不大。由于眼睛不适。患兽常常用爪去擦眼部。单纯患此病，动物的精神，食欲不受影响。 治疗：根据细菌对药物的敏感程度，选用了以下几种高度敏感的药品。 1、1%卡那霉素 2、1:3000氢氧化汞，每天点服3-4次 3、口服维生素B1、B2、SMP或SM2
 		<h1>二、活动</h1> 大熊猫性格孤独，既不与同种个体成对过活，也不与它种动物混居。是既怕酷热，又畏寒冷而不冬眠的哺乳动物。气温2 8℃以上时，表现呼吸急喘，每分钟可 达1 0 0多次，这时食欲大减，活动亦少，常撑开后肢俯卧。冬季气温下降到5℃以下时， 也表现食欲减少，常卷缩身体卧在避风处。温度在1 5℃左右，大熊猫活动正常，一般吃饱了就睡，饿了就开始活动，雄兽比雌兽的活动量大，晴天较夜间活动量大，每次活动时间短的仅几分钟，长的可达1小时以上，但大熊猫在野外是昼夜活动的动物，一天二十四小时至少有15—16小时在游荡。
 		<h1>三、繁殖</h1> 大熊猫是季节性单发情动物，，寿命约20~30岁，在4~5岁时性成熟。性成熟后，每年春季发情一次，也有个别在秋季再次发情，但远不如春季明显。育龄期可持续十余年。春季发情期，一般在4~5月。整个发情期约为10~20天，但发情高潮的受配期仅2一3天，自然交配只有在这几天内才有可能成功。雌兽到达发情高潮时，食量明显下降甚至可以 完全弃食，烦操不安。阴户红肿外翻，小便撅繁，并分泌一种引诱异性的特殊外激素。在发情期，其求偶叫声不断，声音响亮有力，不时呈现弓背翘尾巴的受配姿势。有时用爪或在硬物上磨擦外阴部，或自己用竹秆等物捅阴道引起出血。发情日期和发情行为与环境、气侯、食物都有关系，尤与气侯关系较为密切。当气温低，日照少时，发情日期会推迟，发情表现往往也差。鉴于上述情况，春季来临时应指定专人细心观察，掌握发情期，调整饲料配方，增强体质，每天放外活动，增加运动量，增加光照，还可利用大麦芽进行摧情。同时，每月对雌雄大熊猫放风1~2次，进行异性刺激。
 	</div>
	</body>
</html>