<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Load Leaflet -->
		<link rel="stylesheet" type="text/css" href="stylesheets/leafletAPI.css"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/leaflet.css"/>
		<script type="text/javascript" src="javascripts/leaflet.js"></script>
		<script type="text/javascript" src="javascripts/leaflet.ChineseTmsProviders.js"></script>
		
		<!--jQuery  样式-->
		<script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="javascripts/vector.js" ></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>

		<script type="text/javascript" src="javascripts/leaflet.js"></script>
		<!-- 打印控件 -->
		<script type="text/javascript" src="javascripts/leaflet.easyprint.js"></script>
		<!-- 高亮 -->
		<link href="https://cdn.bootcss.com/leaflet/1.0.0-rc.3/leaflet.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="stylesheets/leaflet.marker.highlight.css">

		<title>勘界定桩</title>
	
	</head>
	<body id = "map"style = "position: absolute;margin-top: 70px;"  >
		<div id="Mymap" style="	position: absolute;top: 0px;bottom: 0;right: 0;left: 0;"></div>
			<script type="text/javascript" src="javascripts/leaflet.marker.highlight.js" ></script>

			<script>
				//var marker1 = L.marker([29.98859882, 114.30317402]).setIcon(yellowIcon).addTo(map);
				//marker1.enablePermanentHighlight();
				//marker1.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
				
				function magic(marker){
					marker.setIcon(yellowIcon);
				}

				var printer = L.easyPrint({
					title:'打印地图',
					sizeModes: ['A4Landscape', 'A4Portrait'],
					filename: 'myMap',
					exportOnly: true,
					hideControlContainer: true,
					tileWait:100,
					defaultSizeTitles:{A4Landscape: 'A4横版', A4Portrait: 'A4 竖版'}
				}).addTo(map);

			</script>
		<script type="text/javascript" src="javascripts/leaflet.js"></script>

		<script type="text/javascript" src="javascripts/vector.js" ></script>
	

	
	
	</body>

</html>