body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 15px;
	bottom: 0;
	right: 0;
	left: 230px;
	background-color: white;
}

#system_logo {
	height: 100spx;
	width: 240px;
}

.navbar {
	background-color: #FFFFFF;
}

.nav-btn {
	background-color: #FFFFFF;
	margin-top: 10px;
	font-size: small;
	color: #888888;
}

.nav-btn {
	background-color: #FFFFFF;
	margin-top: 15px;
	font-size: small;
	color: #888888;
}

.nav-btn-learn {
	background-color: #FFFFFF;
	margin-top: 15px;
	font-size: small;
	color: #888888;
}

.nav-btn-learn:hover {
	border: solid;
	border-width: thin;
	border-color: #32CD32;
}

#nav-climate {
	padding-left: 50px;
}

#footer {
	height: 20px;
	line-height: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	background-color: #888888;
	opacity: 0.5;
	color: #000000;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: 1px;
	z-index: 809;
}